/*Very important!*/
.codehilite {
	clear:both;
	width:80%;
}
.codehilite pre {
	padding: 5px;
	background: #272822;
	color: #f8f8f2;
}

/*End of very important*/

body {
	font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #ededed;
}